{
  "unicast": {
    "port": 12556
  },
  "roles": ["producer", "datasink"],
  "producers" : [{
    "port": 2003,
    "topic": "metrics"
  }],
  "monitoring": {
    "subnet": "10.0.0.0/16",
    "port": 2181
  }
}
